

.enterBox{width:960px;margin:0 auto;text-align:left;padding-bottom:15px;}
.enterHeader{padding:10px 0 10px}
.enterLogo{float:left}
.enterLogo a{text-indent:-999px; background:url(/Images/Logo.png) no-repeat; width:284px;height:75px;display:block;overflow:hidden}
.enterOther{float:right; margin:10px 20px 0 0;line-height:27px;font-size:14px; color:#585858}

.enterContent{border:1px solid #ddd;background:#fff}
.enterContent h3{font-size:20px;font:normal 20px/56px "微软雅黑";border-bottom:2px solid #ddd}
.enterContent h3 span,.enterContent h3 a{color:#ff4c70; padding:0 30px;border-bottom:2px solid #ff4c70;display:inline-block;position:relative;bottom:-2px;*bottom:-4px;_bottom:-3px}
.enterContent h3 a{ border:0 none;color:#858585}
.enterContent h3 a:hover{text-decoration:none;color:#c93131;}
.enterContent h3 .register_title{font-size: 14px;display: inline;border: 0;padding: 0;color: #2b2b2b;position: static;}
.enterContent h3 .register_title a{padding: 0;display: inline;border: 0;position: static;color: #c93131;}

.enterMain{padding:40px 0 35px}

.main_left{float:left;width:663px;border-right:1px solid #ddd}

.infoBox{margin-left:65px;}
.infoBox li{zoom:1;margin-bottom:15px}
.infoBox li:after{content:'.';display:block;height:0;visibility:hidden;clear:both}
.infoBox em{width:90px;display:inline-block;text-align:right;font-size:14px;line-height:35px; }

.infoBox label{margin-left:12px;border:1px solid #ddd;height:35px;display:inline-block; *vertical-align:middle}
.infoBox label input{margin-top:7px;height:20px;line-height:20px;font-size:14px;border:0 none;background:none;display:inline-block;padding-left:15px;width:275px;font-size:16px;font-weight:bold}
.infoBox label input.testCode{width:150px}
.infoBox li img{display:inline-block;width:118px; height:37px; vertical-align:top;margin-left:5px}
.infoBox label.highLight{border:1px solid #bcbcbc}
.infoBox li.getCode{margin-top:-10px;position:relative;height:30px;overfolw:hidden}
.infoBox li.getCode a{margin:0 10px 0 12px;*margin:0 10px 0 15px;color:#5c5c5c;text-shadow:0 1px 1px #fff;}
.infoBox li.getCode a:hover{text-decoration:none}

.infoBox li.login_entry span{background:url("http://nuomi.xnimg.cn/vone/img/btnImgBg121156.png") no-repeat;}
.infoBox li.login_entry{padding-right: 200px;margin-bottom: 8px;text-align: right;}
.infoBox li.login_entry span{display: inline-block;height: 14px;margin-bottom: -3px}
.infoBox li.login_entry a{display: inline-block;height: 14px;line-height: 14px;color: #858585}
.infoBox li.login_entry a:hover{text-decoration: none;color:#ff4c70}

.infoBox li.normal_login_entry span{background-position: -284px -783px;width:14px}
.infoBox li.dynamic_login_entry span{background-position: -238px -783px;width:14px}
.infoBox li .get_dcode{display: inline-block;height: 22px;line-height: 22px;background-color: #e9f3fa;border: 1px solid #b7cbe2;
	-moz-box-shadow:0 1px 1px #fff inset;-ms-box-shadow:0 1px 1px #fff inset;-webkit-box-shadow:0 1px 1px #fff inset;box-shadow: 0 1px 1px #fff inset;
	-moz-text-shadow: 1px 1px 1px #fff;-ms-text-shadow: 1px 1px 1px #fff;-webkit-text-shadow: 1px 1px 1px #fff;text-shadow: 1px 1px 1px #fff;
	color: #5c5c5c;padding: 0 9px;border-radius: 1px;}
.infoBox li .get_dcode:hover{text-decoration: none;}


.enterBtn_65_27{width:65px;height:27px;background-position:0 -930px;line-height:27px;}
.enterBtn_87_36{width:87px;height:36px;line-height:36px;background-position:0 -884px;}
.enterBtn_187_36{ width:187px;height:36px;line-height:36px;background-position:0 -966px}
.enterBtn_65_27:hover,.enterBtn_87_36:hover,.enterBtn_187_36:hover{text-decoration:none}


.main_right{float:left;margin:40px 0 0 90px}
.main_right h5{font-size:14px;}
.main_right ul{width:160px}
.main_right ul li{float:left;margin-top:20px;}
.main_right ul li a{padding-left:20px;white-space:nowrap;color:#585858;line-height:18px;display:inline-block;width:60px}
.main_right ul li a.renren{background-position:0 -1191px}
.main_right ul li a.sina{background-position:0 -1337px}
.main_right ul li a.alipay{background-position:0 -1227px}
.main_right ul li a.tencent{background-position:0 -1372px}
.main_right ul li a.baidu{background-position:0 -1262px}
.main_right ul li a.mobile{background-position:0 -1408px}
.main_right ul li a.qihu{background-position:0 -1299px}

.proBox{margin: 0 0 20px 170px}
.proBox label{line-height:20px;margin-right:10px}
.proBox label input{ vertical-align:middle}
.proBox span{margin-left:20px}


#regBox{border:0 none; width:80%}