<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <!-- Accepts a comma delimited list of assembly names containing mapping artifacts; the ".dll" is optional -->
    <add key="nhibernate.mapping.assembly" value="MAMAMENYA.Data" />
  </appSettings>


  <runtime>
  </runtime>
</configuration>